 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 137px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  background-image: none;
  font-size: 3rem;
  margin: 43px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1195px;
}

.u-section-2 .u-image-1 {
  width: 442px;
  height: 293px;
  margin: 80px 53px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: -258px 590px 0 53px;
}

.u-section-2 .u-image-2 {
  width: 488px;
  height: 325px;
  margin: 64px auto 0 53px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: -290px 53px 0 590px;
}

.u-section-2 .u-image-3 {
  width: 464px;
  height: 348px;
  margin: 96px 53px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: -348px 590px 55px 53px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -285px;
    margin-right: 470px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 459px;
    height: 268px;
    margin-top: 89px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -268px;
    margin-right: 0;
    margin-left: 470px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 65px;
    margin-right: 28px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 520px;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1253px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 232px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -232px;
    margin-right: 380px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 199px;
    margin-top: 50px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -297px;
    margin-left: 360px;
  }

  .u-section-2 .u-image-3 {
    width: 318px;
    height: 318px;
    margin-top: 49px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -318px;
    margin-right: 338px;
    margin-bottom: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1902px;
  }

  .u-section-2 .u-image-1 {
    width: 373px;
    height: 241px;
    margin-top: 53px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 53px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 374px;
    height: 219px;
    margin-top: 53px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 39px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 53px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 53px;
    margin-bottom: 53px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2188px;
  }

  .u-section-2 .u-image-1 {
    height: 226px;
    margin-top: 56px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-2 .u-image-2 {
    height: 227px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 255px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 235px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 7px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 30px 0;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 17px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 317px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px auto 20px 0;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 242px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 21px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 21px;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-6 {
  margin-top: 20px;
}

.u-section-6 .u-sheet-1 {
  min-height: 869px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 25px 505px 0 0;
}

.u-section-6 .u-table-1 {
  width: 933px;
  margin: 31px auto 44px 0;
}

.u-block-64e7-6 {
  border-style: solid;
}

.u-section-6 .u-table-header-1 {
  font-size: 1.5rem;
}

.u-section-6 .u-table-cell-1 {
  border-style: solid;
  background-image: none;
}

.u-section-6 .u-table-cell-2 {
  border-style: solid;
  background-image: none;
}

.u-section-6 .u-table-cell-3 {
  border-style: solid;
  background-image: none;
}

.u-section-6 .u-table-cell-4 {
  border-style: solid;
  background-image: none;
}

.u-section-6 .u-table-cell-5 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-6 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-7 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-8 {
  font-size: 1.5rem;
}

.u-section-6 .u-table-cell-9 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-10 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-11 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-12 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-14 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-15 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-16 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-18 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-19 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-20 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-22 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-23 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-24 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-26 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-27 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-28 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-30 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-31 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-32 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-34 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-35 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-36 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-38 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-39 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-40 {
  font-size: 1.25rem;
}

.u-block-64e7-30 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
    margin-right: 305px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 85px;
  }

  .u-section-6 .u-table-1 {
    width: 720px;
    margin-bottom: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-6 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-6 .u-table-1 {
    width: 340px;
    margin-bottom: 31px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 293px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-7 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 40px;
  font-size: 1.25rem;
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }
}